<<<<<<< HEAD
/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kablammo&family=Londrina+Sketch&display=swap'); */

@font-face {
    src: url(/font/Dancing_Script/DancingScript-VariableFont_wght.ttf);
    font-family: 'Dancing Script';
}
@font-face {
    src: url(/font/Kablammo/Kablammo-Regular-VariableFont_MORF.ttf);
    font-family: 'Kablammo';
}
@font-face {
    src: url(/font/Londrina_Sketch/LondrinaSketch-Regular.ttf);
    font-family: 'Londrina Sketch';
}

* {
    font-size: 40px
}


.p1 {
    font-family: "Londrina Sketch", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

.p2 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 200%;
}

.p3 {
    font-family: "Kablammo", system-ui;
=======
/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Danfo&family=Tiny5&display=swap'); */
/* 
.p1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.p2 {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.p3 {
    font-family: "Danfo", serif;
>>>>>>> e6bb4d1fa04612e94ed346bc9ca8fccf382ea55d
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
<<<<<<< HEAD
        "MORF" 0;
}

div {
    font-size: 30px;
}

.block1 p {
    /* font-variant: small-caps; */
    /* text-transform: uppercase; */
    font-size: 2em;
}

.block2 p {
    /* font-variant: small-caps; */
    font-size: 2rem;
}
=======
        "ELSH" 0;
} */


@font-face {
    font-family: "font 1";
    src: url(/font/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'font 2';
    src: url(/font/Updock/Updock-Regular.ttf);
}

.p1{
    font-family: "font 1";
}
.p2{
    font-family: "font 2";
}
>>>>>>> e6bb4d1fa04612e94ed346bc9ca8fccf382ea55d
