body{
    padding: 0 20px;
}

.head1{
    background-color: black;
    color: red;
}

#head1{
    color: yellow;
    background-color: gray;
}

button{
    background-color: green;
    color: snow;
}

